#entry-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 600px;
  border: 1px solid black;
  margin-left: 50vw;
  margin-top: 3vh;
  padding: 10px; 
  overflow: hidden; 
  translate: -50%;
}

#myForm {
  display: flex;
  gap: 8px;
  flex-wrap: wrap; 
}

.form-group {
  display: flex;
  width: 64px auto;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  padding: 4px;            
  font-size: 14px;         
  width: 64px;            
  min-width: 64px;         
  max-width: 300px;        
  box-sizing: border-box;  
  overflow: hidden;        
}

input.wide {
   width: 200px;
}

select {
  padding: 4px;         
  font-size: 14px;       
  width: 96px;          
  min-width: 64px;       
  box-sizing: border-box; 
}

#output {
  font-size: 16px;
  margin-top: 20px;
}
#elements-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Entry row container */
.entry {
  resize:horizontal;
  display: flex;
  border: 1px solid rgb(26, 26, 26);
  gap: 1px; /* Space between value bubbles */
  align-items: center;
}

/* Individual value bubble */
.bubble {
  min-width: 128px;
  padding: 10px 10px;
  border: 2px solid #ccc;
  border-radius: 1px;
  background-color: #f2fbf5;
  display: inline-block;
  font-size: 18px;
  white-space: nowrap;
}
.bubble-number {
  min-width: 32px;
  padding: 10px 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #ffffff, #f9f9f9, #ffffff, #ffffff, #ffffff);
  display: inline-block;
  font-size: 18px;
  text-align: left;
  white-space: nowrap;
}

.bubble-delete {
  min-width: 20px;
  padding: 10px 10px;
  border: 2px solid #651818;
  text-align: center;
  color: white;
  font-weight: 800;
  border-radius: 32px;
  background-image: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: inline-block;
  font-size: 16px;
  white-space: nowrap;
}

.entry .delete {
  color: red;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  background: none;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif; 
  font-size: 16px; 
}

